<% if logged_in? %>
  <%= link_to 'Post new', new_post_path, data: {toggle: 'modal', target: '#new-post-modal'} %>
  <!-- Hidden Bootstrap Modal Markup -->
  <div class="modal fade" id="new-post-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Create new post</h4>
        </div>
        <div class="modal-body">
          <!-- Render the new post form form (passing modal: true to enable remote: true) -->
          <%= render 'posts/form', modal: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% else %>
<div class="jumbotron">
    <h1>Welcome</h1>
    <p>The best new coding resources, every day</p>
    <p><%= link_to "Sign up", signup_path, class: "btn btn-primary" %></p>
</div>
<% end %>
