<ul class="followers-container">
  <% users.each do |user| %>
    <%= link_to user_path(user) do %>
      <div class="follower-item">
        <div class="user-photo-container">
          <%= image_tag user.photo, class: "user-photo-small" %>
        </div>
        <div class="follower-details">
          <h4 class="list-group-item-heading"><%= user.name %></h4>
          <p class="list-group-item-text">Twitter Handle Placeholder</p>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
