<div class="well bs-component">
  <div class="list-group">
      <div class="list-group-item">
          <div class="row-picture">
              <img class="circle" src="https://pbs.twimg.com/profile_images/485866025884188673/mm_ifWVp.jpeg" alt="icon">
          </div>
          <div class="row-content">
              <h2 class="list-group-item-heading"><%= @user.name %></h2>
              <p class="list-group-item-text"><%= @user.email %></p>
          </div>
      </div>
  </div>
</div>
