<%= link_to post_like_path(post.id), method: :put, class: "btn btn-warning btn-raised mdi-navigation-arrow-drop-up", id: 'upvote', remote: true do %>
  <p id='upvote_size-<%= post.id %>'><%= post.number_of_votes %></p>
<% end %>