<div>
  <%= render partial: "posts/posts_by_date", locals: { posts_by_date: @posts_by_date } %>
</div>
<script type="text/javascript">
  $("tr[data-link]").click(function() {
      window.location = this.dataset.link
  })
</script>
