/*Body*/

body {
  padding-top: 65px;
}

a:link {
  text-decoration:none;
}

.container {
  max-width: 960px;
}

.well.bs-component {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/*Lists*/

.list-item-row {
  padding-right:16px;
  padding-left: 16px;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.list-item-row:hover{
  background-color: #f5f5f5;
}

.list-item-left-contents {
  display: inline-block;
  cursor: pointer;
}

.list-item-right-contents {
  display: flex;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-item-info {
  display: inline-block;
  padding-left: 11px;
}

.list-item-heading {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-item-details {
  margin-bottom: 0px;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
/*Upvote button on posts#INDEX */

.btn.btn-warning.mdi-navigation-arrow-drop-up {
  padding: 0px 0px;
  display: inline-block;
  margin-right: 0px 0px;
}

.mdi-navigation-arrow-drop-up::before {
  font-size: 2em;
}

/*Table header*/
.table>thead>tr>th {
  border: 0px;
}

#table-cell-1 {
  width: 5%;
}

#present-date {
  display: inline-block;
  border-top: 1px;
  margin-top: 20px;
  margin-right: 8px;
  padding-left: 31px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-bottom: 1px;
}

#day-of-week {
  display: inline-block;
  margin-top: 20px;
  border-top: 1px;
  padding-left: 31px;
  padding-bottom: 10px;
  border-bottom: 1px;
  margin-bottom: 0px;
  color: #7e7e7e;
}

#month-ordinalized {
  display: inline-block;
  color: #7e7e7e;
}

#date {
  color: #757575;
}

/*Table body*/

.table {
  margin-bottom: 0px;
}

.table>tbody>tr>td {
  border: 0px;
}

.post-item-info {
  color: #757575;
  margin: 10px;
}

/*users#SHOW */

.list-group .list-group-item .row-picture .profile-photo img {
  width: 125px;
  height: 125px;
}

.list-group .list-group-item .row-content {
  display: inline;
}

/*user profile*/

.list-group#user-profile {
  padding-top: 10px;
}

.followers-container {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.follower-item {
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 310px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.follower-details {
  display: inline-block;
}

.follower-item:hover {
  background-color: #f5f5f5;
}

/*posts#SHOW */

.well.bs-component.show {
  margin-top: 45px;
}

.list-item-details-row {
  padding-right:16px;
  padding-left: 16px;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.btn.btn-warning.mdi-navigation-arrow-drop-up.large-button {
  padding: 10px 10px;
  display: inline-block;
}

#post-name>h2 {
  margin-top: 0px;
}

#post-info {
  padding-top: 10px
}

#edit-user-profile {
}

.user-details-row {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right:16px;
  padding-left: 16px;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.user-details-left-contents {
  display: inline-block;
}

.user-photo-container {
  display: inline-block;
}

.user-photo-container-small {
  padding-right: 16px;
}

#user-info-row {
  padding-left: 32px;
  display: inline-block;
}

#user-info-container {
  display: inline-block;
}

#upvote-info-container {
  display: inline-block;
  padding-top: 6px;
}

.fb_iframe_widget {
  margin-right: 10px;
}

#upvotes-number {
  margin-bottom: 8px;
}

.user-photo-small {
  display: inline-block;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.user-photo-x-small {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.user-name {
  display: inline-block;
}

.number-of-upvotes {
  margin-top: 17px;
}

.right {
  float: right;
}

/*Navbar and FAB*/

.navbar {
  margin-bottom: 40px;
  background-color: #607D8B;
  transition-duration: 0.25s;
}

.navbar-brand {
  transition-duration: 0.25s;
}

.container#brand-container {
  padding-left: 32px;
  padding-right: 32px;
}

.theme-status {
  background-color: #455A64;
  height: 25px;
}

.navbar-nav>li:hover {
  background-color: #607D8B;
}

/*Dropdown user photo*/
.navbar .navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* Search form */

#search {
  font-size: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 0px;
  padding-left: 15px;
}

/*.form-control::after:focus {
  outline: none;
  background-image: linear-gradient(#009688,#009688),linear-gradient(#d2d2d2,#d2d2d2);
  -webkit-animation: input-highlight .5s forwards;
  animation: input-highlight .5s forwards;
  box-shadow: none;
  background-size: 0 2px,100% 1px;
}*/

/*On scroll*/

/*.pastNavbarBottom#menu-right {
  right: 50px;
}*/

/*.pastNavbarBottom.navbar-brand {
  color: #7e7e7e;
}

.pastNavbarBottom.nav.navbar-nav.navbar-right>li>a {
  color: #7e7e7e;
}

.pastNavbarBottom.nav.navbar-nav.navbar-left>li>a {
  color: #7e7e7e;
}
*/
/*.pastNavbarBottom.navbar {
  box-shadow: 0 2px 5px #9E9E9E;
  background-color: #E0E0E0;
}*/

.pastNavbarBottom.navbar {
  box-shadow: 0 2px 5px #9E9E9E;
}

.pastNavbarBottom.btn.btn-warning.btn-fab.btn-raised.mdi-content-add {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}

#menu-right {
  position: relative;
  transition-duration: 0.25s;
}

#fab-container {
  height: 0px;
  position: relative;
  background-color: #EEEEEE;
  max-width: 1086px;
}

#add-post {
  position: absolute;
  right: 0;
  bottom: -100px;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  overflow:hidden;
}

#add-post:hover {
  -webkit-transform:scale(1.2) rotate(90deg);
  -moz-transform:scale(1.2) rotate(90deg);
  -o-transform:scale(1.2) rotate(90deg);
}

/*Nav tabs*/

.nav-tabs {
  background-color: #ffffff;
}

.nav-tabs>li> {
  border-bottom: 3px solid transparent;
  transition: 0.5s ease;
}

.nav-tabs>li>a {
  color: #455A64 !important;
  padding-right: 50px;
  padding-left: 50px;
}

a#upvoted-posts {
  padding-left: 16px;
}

.nav-tabs>li>a:hover {
  color: #455A64 !important;
}

.nav-tabs>li:hover {
  border-bottom: 3px solid #03a9f4;
}

.nav-tabs>li.active {
  border-bottom: 3px solid #03a9f4;
}

.nav-tabs>li.active>a {
  color: #03a9f4 !important;
}

.nav-tabs>li.active >a:hover {
  color: #455A64 !important;
}

/*Ripples*/

.withripple {
  position: relative;
}
.ripple-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
}
.ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  opacity: 0;
  pointer-events: none;
}
.ripple.ripple-on {
  transition: opacity 0.15s ease-in 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  opacity: 0.1;
}
.ripple.ripple-out {
  transition: opacity 0.1s linear 0s !important;
  opacity: 0;
}

/*Upvoters*/

ul.no-bullets {
  list-style-type: none;
  padding: 3px;
}

/*Comments*/

.comments-container {
  padding-left: 16px;
  padding-right: 16px;
}

.comment-container {
  align-items: flex-start;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-top: 16px;
}

/*Workaround hack to fix flexbox bug*/
div#comments-tree > *:nth-child(1) #comment-body {
  padding-left: 37px;
}

#comment-body {
  display: inline-block;
  padding-left: 32px;
}

#comment-form {
  padding-top: 10px;
}

#comment-count {
  margin-bottom: 20px;
}

.replies {
  margin-left: 50px;
}

.child_replies {
  margin-left: 0px;
}

/*Commenters*/

#commenter-name {
  display: inline-block;
  padding-left: 5px;
}
