/*Body*/

body {
  padding-top: 190px;
}

a:link {
  text-decoration:none;
}

/*Upvote button on posts#INDEX */

.btn.btn-warning.mdi-navigation-arrow-drop-up {
  padding: 1px 1px;
  display: inline-block;
}

.mdi-navigation-arrow-drop-up::before {
  font-size: 3em;
}

/*Table header*/
.table>thead>tr>th {
  border: 0px;
}

.present-date {
  display: inline;
}

/*Table body*/
.table>tbody>tr>td {
  border: 0px;
}

.post-item-info {
  margin: 10px;
}

/*users#SHOW */

.list-group .list-group-item .row-picture .profile-photo img {
  width: 125px;
  height: 125px;
}

.list-group .list-group-item .row-content {
  display: inline;
}

/*user profile*/

.followers-list {
  padding-top: 20px;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.list-group-item.followers-list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-group-item.followers-list-item:hover {
  background-color: #f5f5f5;
}

/*posts#SHOW */

#large-button {
  padding: 10px 10px;
  display: inline-block;
}

#post-name>h2 {
  margin-top: 0px;
}

#edit-user-profile {
/*  width: 60%;*/
/*  float: right;*/
}

.user-photo-container {
  display: inline-block;
  padding-right: 16px;
}

.user-info-container {
  display: inline-block;
}

.user-photo-small {
  border-radius: 100%;
  width: 56px;
  height: 56px;
}

.user-photo-x-small {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.user-name {
  display: inline-block;
}

.social-share-button {
  margin-top: 12px;
}

.number-of-upvotes {
  margin-top: 17px;
}

.right {
  float: right;
}

.replies {
  margin-left: 50px;
}

/*Navbar and FAB*/

.navbar {
  margin-bottom: 40px;
  background-color: #607D8B;
  transition-duration: 0.25s;
}

.navbar-brand {
  transition-duration: 0.25s;
}

.theme-status {
  background-color: #455A64;
  height: 25px;
}

.navbar-nav>li:hover {
  background-color: #78909C;
}

#search {
  font-size: 24px;
  padding: 18px 15px;
}

#search-bar.form-control {
  background-color: white;
  border-bottom: #ff5722;
}

/*On scroll*/

.pastNavbarBottom#fab-container {
  height: 0px;
}

.pastNavbarBottom#menu-right {
  right: 50px;
}

/*.pastNavbarBottom.navbar-brand {
  color: red;
}

.pastNavbarBottom.nav.navbar-nav.navbar-right>li>a {
  color: red;
}

.pastNavbarBottom.nav.navbar-nav.navbar-left>li>a {
  color: red;
}*/

.pastNavbarBottom.navbar {
  box-shadow: 0 2px 5px #9E9E9E;
}
.pastNavbarBottom.btn.btn-warning.btn-fab.btn-raised.mdi-content-add {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}

#menu-right {
  position: relative;
  transition-duration: 0.25s;
}

#fab-container {
  position: relative;
  height: 60px;
}

#add-post {
  position: absolute;
  right: 0;
  bottom: -26px;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  overflow:hidden;
}

#add-post:hover {
  -webkit-transform:scale(1.2) rotate(90deg);
  -moz-transform:scale(1.2) rotate(90deg);
  -o-transform:scale(1.2) rotate(90deg);
}

/*Nav tabs*/

.nav-tabs {
  background-color: #ffffff;
}

.nav-tabs>li> {
  border-bottom: 3px solid transparent;
  transition: 0.5s ease;
}

.nav-tabs>li>a {
  color: #455A64 !important;
  padding-right: 50px;
  padding-left: 50px;
}

.nav-tabs>li>a:hover {
  color: #455A64 !important;
}

.nav-tabs>li:hover {
  border-bottom: 3px solid #03a9f4;
}

.nav-tabs>li.active {
  border-bottom: 3px solid #03a9f4;
}

.nav-tabs>li.active>a {
  color: #03a9f4 !important;
}

.nav-tabs>li.active >a:hover {
  color: #455A64 !important;
}

/*Ripples*/

.withripple {
  position: relative;
}
.ripple-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
}
.ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  opacity: 0;
  pointer-events: none;
}
.ripple.ripple-on {
  transition: opacity 0.15s ease-in 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  opacity: 0.1;
}
.ripple.ripple-out {
  transition: opacity 0.1s linear 0s !important;
  opacity: 0;
}

/*Upvoters*/

ul.no-bullets {
  list-style-type: none;
  padding: 3px;
}

/*Commenters*/

#commenter-name {
  display: inline-block;
  padding-left: 5px;
}
