/*Upvote button*/
.btn.btn-warning.mdi-navigation-arrow-drop-up {
  padding: 1px 1px;
  display: inline-block;
}

.mdi-navigation-arrow-drop-up::before {
  font-size: 3em;
}

/*Table header*/
.table>thead>tr>th {
  border: 0px;
}

.present-date {
  display: inline;
}

/*Table body*/
.table>tbody>tr>td {
  border: 0px;
}

.post-item-info {
  margin: 10px;
}